.DS_Store
build/
logs/
workers/unity/Assets/Kitten/
workers/unity/Assets/DragonTerrorBringer
workers/unity/Assets/NatureStarterKit2
workers/unity/Assets/FX_Kandol_Pack
workers/unity/Assets/18SeamlessNormalMaps512Free
workers/unity/Assets/Particles&Materials
workers/unity/Assets/Tresure_box
